body{
	background-image: url(http://blogs-images.forbes.com/brianrashid/files/2015/09/NYC-FORBES-1940x970.jpg);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}